<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">



    <title>Musica</title>
</head>
<body class="music"> 
    <header  id="inicio">



        <nav class="menu">
            <ul>
                <li> <a href="/">Home</a> </li>
                <li> <a href="/about">About</a> </li>
                <li> <a href="/music">Music</a></li>
                <li> <a href="/contact">Contact</a></li>
            </ul>
        </nav>



        <nav class="redes">
                <a href=""><i class="fab fa-twitter-square"></i></a>
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram-square"></i></a>
                <a href=""><i class="fab fa-spotify"></i></a>
                <a href=""><i class="fab fa-apple"></i></a>
                <a href=""><i class="fab fa-amazon"></i></a>
        </nav>

    </header>
    <main>
        <h1>MUSIC//</h1>
        <P>Direct link</P>
        <ul>
            <li> <a class="albums" href="#album">Album</a>  </li>
            <li> <a class="albums" href="#organic">Video:organic love</a></li>
            <li> <a class="albums" href="#street">video: Street Light</a></li>
        </ul>

        <article>
            <h2>ALBUM <BR>TWIST MY REALITY</h2>
            <img src="/Img/emilia-play-list.png" alt="">
            <ol>
                <li><i class="fas fa-play">Organic love | 02:40</i></li>
                <li><i class="fas fa-play">Trust my reality | 02:10</i></li>
                <li><i class="fas fa-play">Street light | 03:28</i></li>
            </ol>
            <a class= "gotop" href="#inicio">Go top</a>

        </article>
        <article id="organic">
            <h2>video <BR>organic love</h2>
            <iframe src="https://player.vimeo.com/video/135166028" width="1000" height="650" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <p>
                Directed by VINCE MALC & EMILIA COLE <br>
                Edited and Filmed by NICOLAS TROY <br>
                Produced by NIKI HEART, <br> 
                Wix Films LTD. <br>
            </p>
          
            <a class= "gotop" href="#inicio">Go top</a>

        </article>
        <article id="street">
            <h2>VIDEO <BR>STREET LIGHT</h2>
            <iframe src="https://player.vimeo.com/video/134861419" width="1000" height="650" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <p>
                Directed by VINCE MALC & EMILIA COLE <br>
                Edited and Filmed by NICOLAS TROY <br>
                Produced by NIKI HEART, <br> 
                Wix Films LTD. <br>
            </p>
          
            <a class= "gotop"href="#inicio">Go top</a>

        </article>




    </main>
    
</body>
</html>